*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(19, 74, 109);
}

.container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#containersquare{
    display: flex;
    justify-content:start;
    flex-wrap: wrap;
}

h1{
    font-size: 95px;
    color: white;
    text-align: center;
    margin-bottom: 30px;

}

.square{
    background-color: rgb(11, 151, 220);
    width: calc((100% / 7) - 20px);
    aspect-ratio: 1;
    margin: 0 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.squarefizz{
    background-color: rgb(85, 213, 157);
    width: calc((100% / 7) - 20px);
    aspect-ratio: 1;
    margin: 0 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.squarebuzz{
    background-color: rgb(243, 208, 46);
    width: calc((100% / 7) - 20px);
    aspect-ratio: 1;
    margin: 0 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.squarefizzbuzz{
    background-color: rgb(241, 88, 118);
    width: calc((100% / 7) - 20px);
    aspect-ratio: 1;
    margin: 0 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
